@model DogFactsVM

<h2>Dog Facts</h2>
<div class="position-fixed top-0 end-0">
    <div class="toast align-items-center" role="alert" aria-live="assertive" aria-atomic="true">
        <div class="d-flex">
            <div class="toast-body bg-success">
                @ViewBag.Message;
            </div>
            <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
    </div>
</div>

<form asp-action="DogsConsult" enctype="multipart/form-data">
    <div class="form-horizontal">
        <hr />
        <div asp-validation-summary="All" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Url" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Url" class="form-control" />
                <span asp-validation-for="Url" class="text-danger"></span>
            </div>
        </div>

        <div class="form-group">
            <label asp-for="File" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input type="file" required="required" asp-for="File" class="form-control" accept="application/vnd.ms-excel, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" />
                <span asp-validation-for="File" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Submit" class="btn btn-success" />
            </div>
        </div>
    </div>
</form>

@section Scripts{
    @if (!string.IsNullOrWhiteSpace(ViewBag.Message))
    {
        <script>$(".toast").show();</script>
    }
<script>

    $(".btn-close").click(function() {
        $(".toast").hide();
    });

</script>

}